<% include ../partials/header %>

    <div class="ui container">
        <div>
            <h3 class="ui block header">
              <%= post.title %>
            </h3>
            <p>
                <%= post.body %>
            </p>
            <div class="item">
                <img class="ui mini circular image" src="/images/avatar.jpg">
                <div class="content">
                  <div class="ui sub header"><%= post.author.username %></div>
                  Autor
                </div>
            </div>
            <div>
                <div class="meta">
                  <form style="margin: 0; padding: 0; display:inline;" id="vote_form" action="/posts/<%=post._id %>/vote", method="POST"> 
                    <a href="javascript:{}" onclick="document.getElementById('vote_form').submit();" class="like"><i class="chevron circle up icon"></i> <%=post.meta.votes %> Votes</a>
                  </form>
                </div>
            </div>
            <br>
            <div class="ui two column grid">
              <div class="column">
                <a href="/posts/<%=post._id %>/edit" class="fluid ui inverted yellow button" >Edit</a>
              </div>
              <div class="column">
                <form action="/posts/<%=post._id %>?_method=DELETE", method="POST" class="delete"> 
                  <button class="fluid ui inverted red button" type="submit">Delete</button>
                </form>
              </div>
            </div>
            
            
            <!--comments section-->
            <div class="ui comments">
              <h3 class="ui dividing header">Comments</h3>
              
              <% post.comments.forEach(function(comment){ %>
                <div class="comment">
                  <a class="avatar">
                    <img src="/images/avatar.jpg">
                  </a>
                  <div class="content">
                    <a class="author"> <%= comment.author.username %></a>
                    <div class="text">
                      <%= comment.text %>
                    </div>
                    <div class="action">
                      <a href="/posts/<%=post._id %>/comments/<%=comment._id%>/edit" class = "ui tiny yellow button">Edit </a>
                      <form action="/posts/<%=post._id %>/comments/<%=comment._id%>?_method=DELETE", method="POST" class="delete"> 
                        <button class="ui tiny red button" type="submit">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              <% }); %>
              
                <!--Add comment button-->
                <div>
                    <a href="/posts/<%= post._id%>/comments/new" class="ui blue labeled submit icon button"><i class="icon edit"></i> Add Comment</a>
                </div>
              
            </div>
        </div>
    </div> <!--container end-->

<% include ../partials/footer %>